################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/matkateenused/FileContentIndex/22d117b3-1ed1-4c93-96a8-23517ba1749c.vsidx
/.vs/matkateenused/FileContentIndex/a4eecf83-ba2c-4b8a-85bf-86ff67281888.vsidx
/.vs/matkateenused/FileContentIndex/8bf923ac-cebd-4e87-9811-e95742f5466d.vsidx
/.vs/matkateenused/FileContentIndex/6f30ef1c-80f3-439f-af39-0de3c992a779.vsidx
/.vs/matkateenused/FileContentIndex/559bffcf-9a8a-4dcc-8c58-c530ed448497.vsidx
/.vs/matkateenused/FileContentIndex/53a539d3-547c-4fb7-ba1d-b0e36976bf54.vsidx
/.vs/matkateenused/FileContentIndex/bd11b013-b098-4d20-877b-ce95736a8504.vsidx
*.vsidx
/.vs/matkateenused/FileContentIndex/2a06aaa2-8b06-4cdf-9aba-4ac82f1e71f3.vsidx
/.vs/matkateenused/DesignTimeBuild/.dtbcache.v2
/.vs/matkateenused/FileContentIndex/2294319d-bb29-4748-b7cc-ee1eb3df92a8.vsidx
/.vs/matkateenused/FileContentIndex/daa0d7d9-f9eb-460f-9b5c-94a7da0f4d14.vsidx
/.vs/matkateenused/v17/.suo
/.vs/matkateenused/FileContentIndex/ca34cf97-94c6-4765-9eb5-16e9ea97e9f8.vsidx
